<% cache message do %>
  <div class="message">
    <% if false  %>
    <p><%= message.user.image %></p>
    <% else %>
    <div class="message-avatar">
      <%=cl_image_tag(message.user.image, class: "chat-message-image")%>
    </div>
    <% end %>
    <div class="message-content">
      <p><%= message.user.username %> <br>
      <%= message.content %></p>
    </div>

  </div>
<% end %>
