<h1>All Chatrooms</h1>

<p><%= link_to 'New chat room', new_chatroom_path, class: 'placeholder' %></p>


<ul>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to("#{chatroom.name}",chatroom_path(chatroom) ) %>
  <% end %>
</ul>
