<h1>All Chatrooms</h1>

<p><%= link_to 'New chat room', new_chatroom_path, class: 'placeholder' %></p>


<ul>
  <% @chatrooms.each do |chatroom| %>
    <li><%= link_to("#{chatroom.name}",chatroom_path(chatroom) ) %></li>
  <% end %>
</ul>


<div id="test-chatroom">
  <h1>Global Message Section</h1>
  <%# @chatrooms.first.messages.each do |message| %>
  <% Message.all.each do |message| %>
    <p><%= message.content %></p>
  <% end %>
</div>
<hr>
<div id="messages" >
  <%#= render @messages %>
  <%#= render partial: "message", object: @messages %>
</div>



<form>
  <label>Say something</label><br>
  <input type="text" class="socket-input" data-behavior="chatroom_speaker">
</form>
