<h1><%= @chatroom.name %></h1>

<div id="messages">
  <% @chatroom.messages.each do |message| %>
    <p><%= message.content %></p>
  <% end %>
</div>



<div class="controls">
  <%= link_to "Delete Chatroom", chatroom_path( @chatroom ), :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>
