
<div class="container">
  <div class="home-content-container">
    <div class="home-content-background">

    </div>
    <div class="home-content-text">
      <h1>Sign Up</h1>

      <%= render :partial => 'signup_form' %>
    </div>


  </div>



</div>
