<div class="home">
  <H1>Chat App!</H1>
  <h3>A real time messaging app for productive people</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugiat, quas eos, unde recusandae tenetur possimus ipsa earum ex maiores sunt quia, doloribus vero vel in aperiam quidem ullam, velit!</p>
  <a href="/users/new" class="button">Signup</a>
  <a href="/login" class="button">Sign In</a>
</div>
