// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.chatrooms.index {
  background-image: url("space.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.main-container {
  text-align: center;
  position: relative;
  width: 70vw;
  min-height: 50vh;
  top: 5vh;
  left: 5vw;

  background-color: white;

}

.chatroom-title-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 1px solid gainsboro;
  height: 1%;
}

.chatroom-content-container {
  position: relative;
  height: 60vh;
  overflow-y: scroll;
}

.chatroom-input-container {
  padding-top: 2vh;
  background-color: white;
  position: relative;
  height: 8vh;
  border: 1px solid gainsboro;
}

.chatroom-title-container h1 {
  font-size: 1.5em;
}

.welcome-back-message-container {
  position: relative;
  width: 30vw;
  height: 30vh;
  background-color: red;
  top: 50vh;
  left: 5vw;
}
