// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  // background-color: gainsboro;
  border: 1px solid gainsboro;
  width: 30vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.message-avatar {
  display: inline-block;
}
.message-content {
  display: inline-block;
}
