// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.sessions.new {
  background-image: url("lake.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

body.users.new {
  background-image: url("lake.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.form-container {
  background-color: white;
  margin-top: 20vh;
  width: 40vw;
  margin-left: 15vw;
  padding: 4%;
  border: 1px solid black;
  margin-bottom: 8vh;
}

.form-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-content-text {
  padding-top: 0vh;
  text-align: center;
  margin: auto;
  color: black;
  position: relative;
}
